<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    @component('mail::message')
    # Xin chào,

    Bạn nhận được email này vì chúng tôi nhận được yêu cầu đặt lại mật khẩu cho tài khoản của bạn.
    @component('mail::button', ['url' => $resetPasswordUrl, 'color' => 'blue'])
    Đặt lại mật khẩu
    @endcomponent
    @component
    Liên kết đặt lại mật khẩu này sẽ hết hạn sau 60 phút. <br>
    Nếu bạn không yêu cầu đặt lại mật khẩu thì không cần thực hiện thêm hành động nào.
    @endcomponent
    Trân Trọng,
    #SaikiDemon
    <hr>


    Nếu bạn gặp sự cố khi nhấp vào nút "Đặt lại mật khẩu", hãy sao chép và dán URL bên dưới vào trình duyệt
        web của bạn: <a href="{{ $resetPasswordUrl }}">{{ $resetPasswordUrl }}</a></span>

        @endcomponent
</body>

</html>
